<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>mysql Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Test Mysql</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-7 px-0">
            <div class="row mx-0">
                <div class="col-12">
                    <div class="row mx-0">
                        <div class="col-12 px-0"><h4>Truy vấn 1000000 bản ghi</h4><br></div>
                        <div class="col-12 px-0"><h5><code class="ml-4">SELECT * FROM staff LIMIT 1000000</code></h5>
                        </div>
                    </div>
                    <div class="row mx-0 my-3">
                        <button class="btn btn-primary" id="mysql-all-record">
                            Thực hiện
                        </button>
                    </div>
                    <hr>
                </div>
                <div class="col-12">
                    <div class="row mx-0">
                        <div class="col-12 px-0"><h4>Truy vấn 1 bản ghi</h4><br></div>
                        <div class="col-12 px-0"><h5><code class="ml-4">SELECT * FROM staff LIMIT 1</code></h5></div>
                    </div>
                    <div class="row mx-0 my-3">
                        <button class="btn btn-info" id="mysql-one-record">
                            Thực hiện
                        </button>
                    </div>
                    <hr>
                </div>
                <div class="col-12">
                    <div class="row mx-0">
                        <div class="col-12 px-0"><h4>Truy vấn có điều kiện</h4><br></div>
                        <div class="col-12 px-0"><h5><code class="ml-4">SELECT * FROM staff WHERE name
                                    = Tên nhân viên</code></h5></div>
                    </div>
                    <div class="row mx-0 mt-3">
                        <form>
                            <div class="form-group">
                                <label for="staff-name-input">Tên Nhân viên muốn truy vấn</label>
                                <input type="text" class="form-control" id="staff-name-input"
                                       aria-describedby="emailHelp"
                                       value="Zoe Young">
                                <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone-->
                                <!--else.-->
                                <!--</small>-->
                            </div>
                            <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                            <button type="button" class="btn btn-primary" id="mysql-conditional-record">
                                Thực hiện
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 px-0">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Kết quả</h4>
                    <hr>
                    <div id="result">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $("#mysql-all-record").on("click", function () {
        alert(
            'Bấm "OK" và chờ kết quả tại console (F12), truy vấn thành công sẽ có thông báo ..'
        );
        var start = new Date().getTime();
        $.ajax({
            url: `http://127.0.0.1:3001/api/staff`,
            success: function (res) {
                let timing = new Date().getTime() - start;
                alert("Đã truy vấn xong 1000000 bản ghi. Thời gian truy vấn xấp xỉ: " + timing.toString() + "ms");
                let result = '';
                for (const [i, value] of res.entries()) {
                    result += "<p>" + value.staff_id + ": " + value.name + "</p>";
                    if(i>100) break;
                }
                result += "<i>" + "Và 999899 bản ghi khác ..." + "</i><br>";
                $("#result").html(result);

            }
        });
    });
    $("#mysql-one-record").on("click", function () {
        alert(
            'Bấm "OK" và chờ kết quả tại console (F12), truy vấn thành công sẽ có thông báo ..'
        );
        var start = new Date().getTime();
        $.ajax({
            url: `http://127.0.0.1:3001/api/staff/one`,
            success: function (res) {
                let timing = new Date().getTime() - start;
                alert("Đã truy vấn xong 1 bản ghi. Thời gian truy vấn xấp xỉ: " + timing.toString() + "ms");
                let result = '';
                for (const [i, value] of res.entries()) {
                    result += "<p>" + value.staff_id + ": " + value.name + "</p>";
                    if(i>100) break;
                }
                $("#result").html(result);
            }
        });
    });
    $("#mysql-conditional-record").on("click", function () {
        alert(
            'Bấm "OK" và chờ kết quả tại console (F12), truy vấn thành công sẽ có thông báo ..'
        );
        var start = new Date().getTime();
        var name = "\" '" + $('#staff-name-input').val() + "'\"";
        $.ajax({
            url: `http://127.0.0.1:3001/api/staff/query-by-name/${name}`,
            success: function (res) {
                let timing = new Date().getTime() - start;
                alert(`Đã truy vấn xong nhân viên có tên là ${name}. Thời gian truy vấn xấp xỉ: ` + timing
                        .toString() +
                    "ms");
                let result = '';
                for (const [i, value] of res.entries()) {
                    result += "<p>" + value.staff_id + ": " + value.name + "</p>";
                    if(i>100) break;
                }
                $("#result").html(result);
            }
        });
    });
</script>
</body>

</html>