<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Firebase Test</title>
</head>
<body>
<button id="firebase-btn">Test firebase</button>
<script>
    var url = `https://dbms-87062.firebaseio.com/staff.json`;
    var request = new XMLHttpRequest();
    var contents = [];
    request.onreadystatechange = function () {
        if (request.readyState === 4) {
            if (request.status === 200) {
                let response = JSON.parse(request.responseText);
                console.log(response);
            }
            else {
                console.log('An error occurred during your request: ' + request.status + ' ' + request.message);
                alert("An error occurs when getting data from API ! See more at console.");
            }
        }
    }
    request.open('GET', url);
    var firebaseBtn = document.getElementById('firebase-btn');
    firebaseBtn.addEventListener('click', function () {
        request.send();
    })
</script>
</body>
</html>